<h1>ToDO List</h1>
<ng-container *ngIf="isLoading === true; then loading; else notloading" />

  <ng-template #loading>
    <app-loading-spinner />
  </ng-template>
  <ng-template #notloading>
    <div class="list-panel">
      <mat-form-field>
        <mat-select placeholder="Статус" value=null (selectionChange)="onFilter($event)">
          <mat-option *ngFor="let item of statusList" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="list-block">
      <ng-container *ngIf="(listItems$ | async) as list">
          <ul>
            <li *ngFor="let elem of list" routerLinkActive="selected" [routerLink]="[elem.id]" tabindex="0">
                          <app-to-do-list-item [listItem]="elem" 
                                                (deleteItemEvent)="deleteItem($event)" 
                                                (editItemEvent)="editItem($event)" 
                                                (editItemStatusEvent)="editItemStatus(elem, $event)"
                                                [appTooltip]="'Нажми чтобы посмотреть описание'">
                          </app-to-do-list-item>
            </li>
          </ul>
          <div class="description-block" *ngIf="getItemIdFromRoute !== null">
            <router-outlet></router-outlet>
          </div>
      </ng-container>
    </div>
    <div>
      <app-to-do-item-create (addItemEvent)="addItem($event)"/>
    </div>
  </ng-template>