:host {
    display: block;
    padding: 5px;
}

h1, h4 {
    color:darkslateblue
}

li {
    padding: 5px;
}

.list-block {
    display: flex;
}

.description-block {
    min-width: 20%;
    max-width: 30%;
    border-left: 1px dotted;
    padding: 5px;
    box-sizing: border-box;
}

.selected {
    background-color: lightcoral;
    border-radius: 5px;     
}