li {
    padding: 5px;
}

input, mat-form-field {
    border-style: solid;
    border-color: grey;
    border-radius: 5px; 
    border-width: 1px;   
    padding-top: 5px; 
    padding-bottom: 5px;
    width: 500px;
}

.button{
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;    

    :disabled{
     opacity: 0.5;
    }
}

.button-add{
    background-color: green;   
}

.button-delete{
    background-color: red;     
}