:host {
    display: block;
    padding: 5px;
}

input{   
    flex: auto;
    color: darkblue;
    border-style: solid;
    border-color: grey;
    border-radius: 5px; 
    border-width: 1px;   
    min-height: 30px; 
    min-width: 300px;       
}