<ng-container *ngIf="isEdit; then editBlock; else viewBlock"></ng-container>
<ng-template #editBlock>
    <div class="edit-item">
        <mat-form-field>
            <mat-label>Изменить</mat-label>
            <input matInput type="text" [(ngModel)]="listItem.text">
        </mat-form-field>
        <app-button class="button button-add" title="Сохранить" (click)="editItem()" 
            [appTooltip]="'Применить изменения'">
        </app-button>
    </div>
</ng-template>
<ng-template #viewBlock>
    <input type="text" [value]="listItem.text" [readonly]="!isEdit" (dblclick)="isEdit=true">     
    <app-button class="button button-delete" title="Удалить" (click)="deleteItem()" 
        [appTooltip]="'Удалить из списка дел'">
    </app-button>
</ng-template>


