:host {
    display: block;
    padding: 5px;
}

input{   
    flex: auto;
    color: darkblue;
    border-style: solid;
    border-color: grey;
    border-radius: 5px; 
    border-width: 1px;   
    min-height: 20px;        
}

.button{
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;    
}

.button-delete{
    background-color: lightcoral;     
}